.nowyprojekt{
    border-radius: 5px;
    border-color: aqua;
    height: 3vh;
    width: 16vh;
    background-color: aquamarine;
    
}
.usun{
    width: 25vh;
    align-self: center;
    border-radius: 10px;
}
.nowyprojekt:hover {
    background-color: rgb(192, 191, 197);
    height: 3.5vh;
    border-radius: 10px;
    width: 17vh;
}
.sekcja-projekty{

    background-color: #694eff87;

}